<br class="flex">
<div>
    <div class="fields">
        Username: <br>
        <!-- <input type="text"  pInputText [(ngModel)]="userName" /> -->
        <input type="text" id="name" name="username" />
        Password: <br>
        <!-- <input type="text"  pInputText [(ngModel)]="password" /> -->
        <input type="text" id="name" name="password" />
        <button pButton pRipple label="Save" class="p-button-success" style="margin-top: 15px;" (click)="Login()">Login</button>
    </div>
</div>
