<p>Age: <input type="text" pInputText [(ngModel)]="Age" /></p> 
<p>App: <input type="text" pInputText [(ngModel)]="App" /></p>
<p>Goal Involvements: <input type="text" pInputText [(ngModel)]="Goal" /></p>
<p>Clean Sheets: <input type="text" pInputText [(ngModel)]="Clean" /></p>
<p>Mins: <input type="text" pInputText [(ngModel)]="Mins" /></p>
<p>Name: <input type="text" pInputText [(ngModel)]="Name" /></p>
<p>POS: <input type="text" pInputText [(ngModel)]="POS" /></p>
<p>Reds: <input type="text" pInputText [(ngModel)]="Reds" /></p>
<p>Team: <input type="text" pInputText [(ngModel)]="Team" /></p>
<p>Yellows: <input type="text" pInputText [(ngModel)]="Yellows" /></p>

<button pButton pRipple label="Save" class="p-button-success" (click)="AddPlayer()"> ADD </button>